/* =============================================
================================================
        Buttons
================================================
============================================= */


.btn {
  font-family: "DecimaPro", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 900;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0.75px;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  white-space: nowrap;
  padding: 0.625rem 1.5rem;

  @include respond-to-min(large) {
    font-size: 16px;
    font-size: 1rem;
    letter-spacing: 1.5px;
    padding: 0.75rem 2rem;
  }

  @include respond-to-min(wide) {
    font-size: 18px;
    font-size: 1.125rem;
    padding: 0.875rem 2.5rem;
  }


  &.primary {
    background: {
      image: linear-gradient(45deg,$color--teal-light 50%, $color--teal 50%);
      position: 100%;
      size: 400%;
    }

    color: $color--white;
    transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;

    &:hover {
        background-position: 0;
        color: $color--primary;
    }
  }


  &.secondary {
    background: {
      image: linear-gradient(45deg,$color--teal 50%, $color--primary 50%);
      position: 100%;
      size: 400%;
    }

    color: $color--white;
    transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;

    &:hover {
        background-position: 0;
    }
  }

  &.outline {
    background: {
      image: linear-gradient(45deg,$color--teal 50%, transparent 50%);
      position: 100%;
      size: 400%;
    }
    border: 2px solid $color--teal;
    color: $color--teal;
    transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;

    &:hover {
        background-position: 0;
        border: 2px solid $color--teal;
        color: $color--white;
    }

    &-blue {
      background: {
        image: linear-gradient(45deg,$color--teal-light 50%, transparent 50%);
        position: 100%;
        size: 400%;
      }
      border: 2px solid $color--primary;
      color: $color--primary;

      &:hover {
        background-position: 0;
         border: 2px solid $color--teal-light;

      }
    }
  }

  &.arrow {
    padding: 0;
    padding-right: 1.25rem;
    color: $color--white;
    background: url('../../assets/images/icons/phs-arrow-right.svg') no-repeat 100% 35%;
    background-size: 14px 14px;
    transition: all 130ms ease-in-out;
    -o-transition: all 130ms ease-in-out;
    -ms-transition: all 130ms ease-in-out;
    -moz-transition: all 130ms ease-in-out;
    -webkit-transition: all 130ms ease-in-out;

    &:hover {
      color: $color--teal-light;
      background: url('../../assets/images/icons/phs-arrow-right-teal.svg') no-repeat 98% 35%;
      background-size: 14px 14px;
    }

  }

  &.arrow-down {
      letter-spacing: 1px;
      color: $color--white;
      font-size: 1.125rem;
      padding: 0;
      padding-bottom: 1rem;
      background: transparent;
      position: relative;

      @include respond-to-min(medium) {
        font-size: 1.375rem;
        padding-bottom: 1rem;
      }

      @include respond-to-min(uwide) {
        font-size: 1.75rem;
      }

      &:hover {
        color: $color--teal-light;

        &:after {
          background: url('../../assets/images/icons/phs-arrow-down-teal-light.svg') no-repeat center center;
          background-size: cover;
        }
      }

      &:after {
        content: '';
        position:absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 20px;
        height: 10px;
        background: url('../../assets/images/icons/phs-arrow-down-teal.svg') no-repeat center center;
        background-size: cover;
        transition: bounce 2s infinite, background 130ms ease-in-out;
        -moz-animation: bounce 2s infinite, background 130ms ease-in-out;
        -webkit-animation: bounce 2s infinite, background 130ms ease-in-out;
        animation: bounce 2s infinite, background 130ms ease-in-out;

      }

  }

  .download-icon {
        display: inline-block;
        width: 1.125rem;
        left: 1rem;
        margin-left: 1rem;
        height: 1.125rem;
        vertical-align: bottom;
        background: url('../../assets/images/icons/phs-download-icon.svg') no-repeat center center;
        background-size: contain;
        transition: all 250ms ease-in-out;
        -o-transition: all 250ms ease-in-out;
        -ms-transition: all 250ms ease-in-out;
        -moz-transition: all 250ms ease-in-out;
        -webkit-transition: all 250ms ease-in-out;
  }
  &:hover .download-icon  {
    background: url('../../assets/images/icons/phs-download-icon-blue.svg') no-repeat center center;
    background-size: contain;
  }

}

a.btn + a.btn {

}

p + .btn {
  margin-top: 0.5rem;

  @include respond-to-min(wide) {
    margin-top: 1.5rem;
  }
}

p.phs-content + .btn {
  margin-top: 1rem;

  @include respond-to-min(large) {
    margin-top: 1.5rem;
  }
  @include respond-to-min(uwide) {
    margin-top: 3rem;
  }
}
