/* =============================================
================================================
Forms
================================================
============================================= */

label {
  color: $color--grey;
  display: block;
  font-family: $sans-serif;
  font-size: 12px;
  font-size: 0.75em;

  @include respond-to-min(large) {
    font-size: 14px;
    font-size: 0.875em;
  }
}

fieldset {
  margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: $color--white;
  background: transparent;
  border: 0;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  display: block;
  padding: 0.75rem 0rem;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {

}

textarea {
   overflow: auto;
  resize: none;
}


input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.5em;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  font-weight: 400;
}



/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
  font-family: "RobotoReg", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  font-size: 0.875em;
  color: $color--white;
  opacity: 0.85;
}
::-moz-placeholder {
  font-family: "RobotoReg", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  font-size: 0.875em;
  color: $color--white;
    opacity: 0.85;
}
:-ms-input-placeholder {
  font-family: "RobotoReg", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  font-size: 0.875em;
  color: $color--white;
    opacity: 0.85;
}
::placeholder {
  font-family: "RobotoReg", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  font-size: 0.875em;
  color: $color--white;
    opacity: 0.85;
}


.contact-form-main {

  form {

    input.control-input {
      border-bottom: 2px solid $color--white;

      &.wpcf7-not-valid {
        border-bottom: 2px solid $color--borange;
      }
    }

    textarea.control-input {
      border-bottom: 2px solid $color--white;
      height: 100%;
      max-height: 100px;

        @include respond-to-min(large) {
          max-height: 100px;
        }

        &.wpcf7-not-valid {
          border-bottom: 2px solid $color--borange;
        }
    }


  }


}

/* Custom CF7 Loader */
div.wpcf7 .ajax-loader {
  background-image: url('../../assets/images/icons/ajax-loader.gif');
  background-size: contain !important;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.wpcf7-response-output {
      margin: 1em 0 0 !important;
      padding: 0 !important;
      border: 0 !important;
      font-size: 1rem;

      &.wpcf7-mail-sent-ok {
        color: $color--teal-light;
      }
      &.wpcf7-validation-errors,
      &.wpcf7-not-valid {
        color: $color--borange;
      }
}

span.wpcf7-not-valid-tip {
  display: none;
}

.modal-form {
  .control-group {

    @include respond-to-min(large) {
      margin: 1rem 0;
    }

    &.field-group {

      @include respond-to-min(large) {
        margin: 0 -1rem;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      }

      .control-input {


        @include respond-to-min(large) {
          width: 50%;
          margin: 0 1rem;
        }
      }
    }

    .control-input {
      margin-bottom: 1rem;
      @include respond-to-min(large) {
        margin-bottom: 0;
      }
      width: 100%;
    }

    .btn.primary {
      margin-top: 1rem;
      @include respond-to-min(large) {
        margin-top: 0;
      }
    }

  }
}

.contact-block {

  form {
    max-width: 1200px;
    margin: 0 auto;


    .form-container {

      @include respond-to-min(large) {
        margin: 0 -1rem;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      }


      .field-group {
        @include respond-to-min(large) {
          width: 50%;
          margin: 0 1rem;
        }
      }

      .control-input {
        margin-bottom: 1rem;
      }

      textarea {
        height: 100%;
        min-height: 100px;

        @include respond-to-min(large) {
          min-height: 197px;
        }
      }

    }
  }

}



/*--------------------------------------------------------------
Custom Checkbox
--------------------------------------------------------------*/


/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $color--white;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: $color--teal-light;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: $color--teal;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
