/* =============================================
================================================
Hero
================================================
============================================= */


.phs-hero {

  /* Front Page Hero */

  &.front-page {
    position: relative;
    height: 100vh;
    max-height: 320px;

    @include respond-to-min(small) {
       max-height: 420px;
    }
     @include respond-to-min(medium) {
        max-height: 768px;
     }
     @include respond-to-min(large) {
        max-height: 1080px;
     }

    #phs-video-bg,
    #front-hero-container{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100vh;
      max-height: 320px;
      width: 100%;
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      justify-content: center;
      align-items: center;

      @include respond-to-min(small) {
         max-height: 420px;
      }
       @include respond-to-min(medium) {
          max-height: 768px;
       }
       @include respond-to-min(large) {
          max-height: 1080px;
       }
     }

     #phs-video-bg {
        z-index: 1;
        pointer-events: none;
        background: #2A2E38;
     }

     #front-hero-container {
       z-index: 2;

       .bg-image {
         background: #2A2E38;
         position: relative;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
         overflow: hidden;

         .bg-image-main {
           height: 100%;
           max-height: 667px;
           width: 100%;
           max-width: 100%;
           opacity: 0.3;
           background-size: cover !important;

           @include respond-to-min(medium) {
              max-height: 768px;
           }
           @include respond-to-min(large) {
              max-height: 1080px;
           }
            @include respond-to-min(jumbo) {
              height: 100vh;
            }

           &.bg-image-mobile {
               @include respond-to-min(large) {
                 display: none;
               }
           }
           &.bg-image-desktop {
               @include respond-to-max(large) {
                 display: none;
               }
           }
         }
       }

       .front-hero-image {
         z-index: 3;
         display: block;
         position: absolute;
         height: 180.224px !important;
         width: 320px !important;
         background: url('../../assets/images/brand/PHS-video-brandmark1.svg') no-repeat center center;
         background-size: cover;

         @include respond-to-min(small) {
           height: 211.2px !important;
           width: 375px !important;
         }
         @include respond-to-min(medium) {
           height: 345.6px !important;
           width: 613.8px !important;
         }
         @include respond-to-min(wide) {
           height: 460.8px !important;
           width: 818.4px !important;
         }
         @include respond-to-min(suwide) {
           height: 576px !important;
           width: 1023px !important;
         }

         &.two {
           z-index: 3;
           background: url('../../assets/images/brand/PHS-video-brandmark2.svg') no-repeat center center;
           background-size: cover;
         }

         &.three {
           z-index: 3;
           background: url('../../assets/images/brand/PHS-video-brandmark3.svg') no-repeat center center;
           background-size: cover;
         }
       }


     }

     /* Animations */
     .fade-in-btn,
     .fade-in-bg,
     .fade-in {
       opacity: 0;
       visibility: hidden;
       -webkit-transition: opacity ease-in 1s;
       -moz-transition: opacity ease-in 1s;
       -o-transition: opacity ease-in 1s;
       transition: opacity ease-in 1s;
     }


     @-moz-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          -moz-transform: translateY(0);
          transform: translateY(0);
        }
        40% {
          -moz-transform: translateY(10px);
          transform: translateY(10px);
        }
        60% {
          -moz-transform: translateY(5px);
          transform: translateY(5px);
        }
      }
      @-webkit-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
        40% {
          -webkit-transform: translateY(10px);
          transform: translateY(10px);
        }
        60% {
          -webkit-transform: translateY(5px);
          transform: translateY(5px);
        }
      }
      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
        40% {
          -moz-transform: translateY(10px);
          -ms-transform: translateY(10px);
          -webkit-transform: translateY(10px);
          transform: translateY(10px);
        }
        60% {
          -moz-transform: translateY(5px);
          -ms-transform: translateY(5px);
          -webkit-transform: translateY(5px);
          transform: translateY(5px);
        }
      }



     /* Front page Btn */
     .front-hero-btn {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5vh;
        visibility: hidden;
        opacity: 0;
        text-align: center;
        transition: all 500ms ease-in-out;
        -moz-animation: all 500ms ease-in-out;
        -webkit-animation: all 500ms ease-in-out;
        animation: all 500ms ease-in-out;

      }


  }

  &.page-hero {
    position: relative;
    height: calc(100vh - 60px);

     @include respond-to-min(medium) {
        max-height: 768px;
     }
     @include respond-to-min(large) {
        height: calc(100vh - 80px);
        max-height: 1000px;
     }

    .hero-container{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      justify-content: center;
      align-items: center;
      height: calc(100vh - 60px);

       @include respond-to-min(medium) {
          max-height: 768px;
       }
       @include respond-to-min(large) {
          height: calc(100vh - 80px);
          max-height: 1000px;
       }

       .bg-image {
         position: relative;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
         overflow: hidden;

         .bg-image-main {
           height: 100%;
           width: 100%;
           max-width: 100%;
           background-size: cover !important;
           height: calc(100vh - 60px);

            @include respond-to-min(medium) {
               max-height: 768px;
            }
            @include respond-to-min(large) {
               height: calc(100vh - 80px);
               max-height: 1000px;
            }

           &.bg-image-mobile {
               @include respond-to-min(large) {
                 display: none;
               }
           }
           &.bg-image-desktop {
               @include respond-to-max(large) {
                 display: none;
               }
           }
         }

         &.vertical-top:after {
             content: '';
             position: absolute;
             height: 100%;
             width: 100%;
             top: 0;
             bottom: 0;
             left: 0;
             right: 0;
             background: rgba(42,46,56,0);
             background: -moz-linear-gradient(top, rgba(42,46,56,0.9) 0%, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 100%);
             background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,46,56,0)), color-stop(0%, rgba(42,46,56,0)), color-stop(100%, rgba(42,46,56,0.9)));
             background: -webkit-linear-gradient(top, rgba(42,46,56,0.9) 0%, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 100%);
             background: -o-linear-gradient(top, rgba(42,46,56,0.9) 0%, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 100%);
             background: -ms-linear-gradient(top, rgba(42,46,56,0.9) 0%, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 100%);
             background: linear-gradient(to bottom, rgba(42,46,56,0.9) 0%, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 100%);
             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2e38', endColorstr='#2a2e38', GradientType=0 );


             @include respond-to-min(large) {
                 background: rgba(42,46,56,0);
                 background: -moz-linear-gradient(top, rgba(42,46,56,0.9) 0%, rgba(42,46,56,0) 85%, rgba(42,46,56,0) 100%);
                 background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,46,56,0)), color-stop(85%, rgba(42,46,56,0)), color-stop(100%, rgba(42,46,56,0.9)));
                 background: -webkit-linear-gradient(top, rgba(42,46,56,0.9) 0%, rgba(42,46,56,0) 85%, rgba(42,46,56,0) 100%);
                 background: -o-linear-gradient(top, rgba(42,46,56,0.9) 0%, rgba(42,46,56,0) 85%, rgba(42,46,56,0) 100%);
                 background: -ms-linear-gradient(top, rgba(42,46,56,0.9) 0%, rgba(42,46,56,0) 85%, rgba(42,46,56,0) 100%);
                 background: linear-gradient(to bottom, rgba(42,46,56,0.9) 0%, rgba(42,46,56,0) 85%, rgba(42,46,56,0) 100%);
                 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2e38', endColorstr='#2a2e38', GradientType=0 );
           }
         }

         &.vertical-center {

         }

         &.vertical-bottom:after {
             content: '';
             position: absolute;
             height: 100%;
             width: 100%;
             top: 0;
             bottom: 0;
             left: 0;
             right: 0;
             background: rgba(42,46,56,0);
             background: -moz-linear-gradient(top, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 0%, rgba(42,46,56,0.9) 100%);
             background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,46,56,0)), color-stop(0%, rgba(42,46,56,0)), color-stop(100%, rgba(42,46,56,0.9)));
             background: -webkit-linear-gradient(top, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 0%, rgba(42,46,56,0.9) 100%);
             background: -o-linear-gradient(top, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 0%, rgba(42,46,56,0.9) 100%);
             background: -ms-linear-gradient(top, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 0%, rgba(42,46,56,0.9) 100%);
             background: linear-gradient(to bottom, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 0%, rgba(42,46,56,0.9) 100%);
             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2e38', endColorstr='#2a2e38', GradientType=0 );

            @include respond-to-min(large) {
             background: rgba(42,46,56,0);
             background: -moz-linear-gradient(top, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 15%, rgba(42,46,56,0.9) 100%);
             background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,46,56,0)), color-stop(15%, rgba(42,46,56,0)), color-stop(100%, rgba(42,46,56,0.9)));
             background: -webkit-linear-gradient(top, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 15%, rgba(42,46,56,0.9) 100%);
             background: -o-linear-gradient(top, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 15%, rgba(42,46,56,0.9) 100%);
             background: -ms-linear-gradient(top, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 15%, rgba(42,46,56,0.9) 100%);
             background: linear-gradient(to bottom, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 15%, rgba(42,46,56,0.9) 100%);
             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2e38', endColorstr='#2a2e38', GradientType=0 );
           }
         }
       }

       .hero-content {
         position: absolute;
         height: 100%;
         width: 100%;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
         display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
         display: -ms-flexbox; /* TWEENER - IE 10 */
         display: -webkit-flex; /* NEW - Chrome */
         display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
         flex-flow: column;


         &.vertical-top {
           padding-top: 5vh;
           justify-content: flex-start;
         }

         &.vertical-center {
           padding-top: 5vh;
           justify-content: center;
         }

         &.vertical-bottom {
           padding-bottom: 5vh;
           justify-content: flex-end;
         }

         &.align-left {

         }
         &.align-center {
           text-align: center;
         }
         &.align-right {
           align-items: left;
           text-align: right;
         }
       }


     }


  }


}
