/* =============================================
================================================
        Lists
================================================
============================================= */

ul,
ol {
  margin-bottom: 0;
  margin-left: 1.5rem;
  padding: 0;

  @include respond-to-min(wide) {
    margin-left: 2rem;
  }
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul li,
ol li {
  margin-bottom: 0.5rem;
    @include respond-to-min(wide) {
      margin-bottom: 1rem;
    }
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}
