/* =============================================
================================================
        Sliders
================================================
============================================= */

.slider-controls {
  width: 100%;
  max-width: 1440px;
  height: 20px;
  margin: 0 auto;
  position: absolute;
  bottom: 38px;
  left: 0;
  right: 0;

}



/*-------------------- Intro Cards Slider -----------------------------*/

.intro-slider {

  display: none;
  margin-left: -1rem;
  margin-right: -1rem;


    @include respond-to-min(medium) {
      margin-left: -1rem;
      margin-right: -2rem;
    }

    @include respond-to-min(large) {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
    }

    @include respond-to-min(wide) {
      margin-left: -2rem;
      margin-right: -2rem;
    }

  .slick-list {
    padding-right: 3rem;

    @include respond-to-min(small) {
      padding-right: 5rem;
    }

      @include respond-to-min(medium) {
        padding-right: 6rem;
      }

      @include respond-to-min(wide) {
        padding: 0;
      }
  }

  .intro-slide {
    text-align: left;
    border-radius: 8px;
    height: 280px;
    margin: 0 1rem;
    padding: 2rem 1rem;
    transform: scale(0.95,0.95);
    transition: all 750ms ease-in-out;
    transition: all 750ms ease-in-out;
    transition: all 750ms ease-in-out;

    background:
    url('../../assets/images/patterns/phs-card-pattern-dark.svg') no-repeat -1% 101%,
    url('../../assets/images/patterns/phs-card-pattern-light.svg') -201% 201%  no-repeat,
    url('../../assets/images/patterns/phs-card-pattern-light-2.svg') 201% -201%  no-repeat;
    background-size:
    60%,
    60%,
    35%;
    background-color: $color--primary;


    @include respond-to-min(medium) {
      height: 300px;
      padding: 2rem;
      margin: 0 1rem;
    }

    @include respond-to-min(large) {
      height: 350px;
    }

    @include respond-to-min(uwide) {
      height: 375px;
    }

    @include respond-to-min(jumbo) {
      height: 430px;
    }

    .tile-content {
      position: relative;
      height: 100%;

      h3 {
        margin: 0;
        margin-bottom: 0.75rem;
        @include respond-to-min(large) {
          margin-bottom: 1.5rem;
        }
      }

      p {
        margin: 0;
      }

      a.arrow {
        position: absolute;
        right: 0;
        bottom: 0;
      }

    }

    &.slick-current {
        transform: scale(1,1);
        background:
        url('../../assets/images/patterns/phs-card-pattern-dark.svg') -201% 201%  no-repeat,
        url('../../assets/images/patterns/phs-card-pattern-light.svg') -1% 101%  no-repeat,
        url('../../assets/images/patterns/phs-card-pattern-light-2.svg') 101% -1%  no-repeat;
        background-size:
        60%,
        60%,
        35%;
        background-color: $color--teal;

    }

  }

  .slick-dots {
    text-align: left;
    bottom: -50px;
    padding-left: 1rem;

    li {
      button:before {
        font-size: 0.75rem;
        color: $color--teal;
      }
      &.slick-active button:before {
        color: $color--teal-light;
      }
    }
  }

}

/*-------------------- Contact Slider -----------------------------*/

.contact-slider {

  display: none;
  padding-top: 0rem;

  @include respond-to-min(medium) {
    padding-top: 1rem;
  }
  @include respond-to-min(wide) {
    padding-top: 2rem;
  }


  .slick-list {
    margin-left: -1rem;
    margin-right: -1rem;

    .contact-icon {
      @include respond-to-min(large) {
        padding-top: 10px;
      }

      a {
        display: block;
        max-width: 185px;
        margin: 0 auto;

        p {
          color: $color--white;
          margin: 0;
          padding: 0;
          line-height: 1.1;
          -webkit-transition: all 250ms ease-in-out;
          -moz-transition:  all 250ms ease-in-out;
          -o-transition:  all 250ms ease-in-out;

          &.headline {
            text-transform: uppercase;
            letter-spacing: 1px;
            margin: 0.75rem 0;
            font-weight: bold;
          }
        }

        svg {
          transform: scale(1,1);
          -webkit-transition: all 250ms ease-in-out;
          -moz-transition:  all 250ms ease-in-out;
          -o-transition:  all 250ms ease-in-out;
        }

        &:hover {
          p {
            color: $color--teal;
          }
          svg {
            transform: scale(1.1,1.1);
          }
        }

      }

    }

  }

  .slick-dots {
    text-align: center;
    bottom: -50px;

    li {
      button:before {
        font-size: 0.75rem;
        color: $color--white;
      }
      &.slick-active button:before {
        color: $color--teal;
      }
    }
  }
}


/*-------------------- OurSchool Slider -----------------------------*/

.ourschool-mainslider {
  display: none;
  height: 100%;
  width: 100%;
  margin: 0 !important;

  @include respond-to-min(small) {

  }
   @include respond-to-min(medium) {

   }
   @include respond-to-min(large) {

   }

  .slick-list {
    height: 100%;
  }
  .mainslide-container {
    height: 100vh;
    max-height: 480px;
    padding: 1rem;
    position: relative;
    background-size: cover !important;
    background-position: center center !important;

    @include respond-to-min(small) {
      max-height: 520px;
    }

    @include respond-to-min(medium) {
      max-height: 600px;
      padding: 5vw 2rem;
    }

    @include respond-to-min(large) {
      position: relative;
      min-height: 700px;
      max-height: 780px;
      padding: 5vw 1.5rem;
      background-position: left center !important;
    }

    @include respond-to-min(wide) {
      padding: 5vw 5vw 5vw 2rem;
      background-position: center center !important;
    }
    @include respond-to-min(uwide) {
      min-height: 880px;
      max-height: 1080px;
    }
    @include respond-to-min(suwide) {
      padding: 5vw;
    }
    @include respond-to-min(jumbo) {
      padding-left: 160px;
    }
    @include respond-to-min(massive) {
      padding-left: 488px;
    }


    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(42,46,56,0);
      background: -moz-linear-gradient(top, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 15%, rgba(42,46,56,0.9) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,46,56,0)), color-stop(15%, rgba(42,46,56,0)), color-stop(100%, rgba(42,46,56,0.9)));
      background: -webkit-linear-gradient(top, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 15%, rgba(42,46,56,0.9) 100%);
      background: -o-linear-gradient(top, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 15%, rgba(42,46,56,0.9) 100%);
      background: -ms-linear-gradient(top, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 15%, rgba(42,46,56,0.9) 100%);
      background: linear-gradient(to bottom, rgba(42,46,56,0) 0%, rgba(42,46,56,0) 15%, rgba(42,46,56,0.9) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2e38', endColorstr='#2a2e38', GradientType=0 );
    }

  .ourschool-mainslide {
      position: relative;
      width: 100%;
      height: 100%;

      @include respond-to-min(medium) {
        width: 80%;
      }
      @include respond-to-min(wide) {
        width: 70%;
      }

      .ourschool-mainslide-content {
        position: absolute;
        bottom: 0;
        z-index: 2;

        h3, h2, p {
          color: $color--white;
        }
        h3 {
          margin-bottom: 1rem;

          @include respond-to-min(medium) {
            margin-bottom: 1.5rem;
          }
        }

        h2.front-title {
            display: block;
            margin-bottom: 1rem;
            @include respond-to-min(medium) {
              margin-bottom: 1.5rem;
            }
            @include respond-to-min(large) {
              display: none;
            }

        }
      }
    }

  }

  .slick-dots {
    text-align: right;

    bottom: 1rem;
    padding-right: 1rem;

    @include respond-to-min(medium) {
      bottom: 2rem;
      padding-right: 2rem;
    }

    @include respond-to-min(large) {
      bottom: 1.5rem;
      padding-right: 1.5rem;
    }

    @include respond-to-min(wide) {
      bottom: 2rem;
      padding-right: 2rem;
    }

    li {
      margin: 0;
      @include respond-to-min(medium) {
        margin: 0 5px;
      }

      button:before {
        font-size: 0.75rem;
        color: $color--teal;
      }
      &.slick-active button:before {
        color: $color--teal;
        opacity: 1;
      }


    }
  }


}

.ourschool-secondaryslider {
  display: none;
  width: 100%;

   @include respond-to-min(large) {
     margin-bottom: -1rem;
   }
   @include respond-to-min(suwide) {
     margin-bottom: -1.5rem;
   }

  .slick-slider .slick-track, .slick-slider .slick-list {
    width: 100%;
  }

  .ourschool-secondaryslide-content {
    border-bottom: 1px solid #54575F !important;
    margin-bottom: 0.5rem;

    @include respond-to-min(large) {
      margin-bottom: 1rem;
    }
    @include respond-to-min(suwide) {
      margin-bottom: 1.5rem;
    }

    &:last-of-type{
      margin-bottom: 0 !important;
    }

    a.secondaryslide-container {
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: row; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      justify-content: space-between;
      align-items: flex-start;

      .content-left {
        min-width: 48px;

          img, svg {
            width: 48px;
            height: 48px;
            position: relative;

            path#Frame,
            polygon#Fill-1,
            g#Frame {
              -webkit-transition: all 250ms ease-in-out;
              -moz-transition:  all 250ms ease-in-out;
              -o-transition:  all 250ms ease-in-out;
            }
          }
      }

      .content-right {
        @include respond-to-min(large) {
          margin-left: 1rem;
        }
        @include respond-to-min(wide) {
          margin-left: 1.5rem;
        }
        @include respond-to-min(suwide) {
          margin-left: 2rem;
        }

        h4,p{
          color: $color--white;
          -webkit-transition: all 250ms ease-in-out;
          -moz-transition:  all 250ms ease-in-out;
          -o-transition:  all 250ms ease-in-out;
        }
        h4 {
          font-weight: bold;
          margin-bottom: 0.5rem;
        }
        p {
          @include respond-to-min(large) {
            margin-bottom: 1rem;

          }
          @include respond-to-min(wide) {
            font-size: 1.125rem;
          }
          @include respond-to-min(suwide) {
            margin-bottom: 1.5rem;
            font-size: 1.25rem;
          }
        }
      }
    }

    &.slick-current {
      a.secondaryslide-container{
          .content-left {
              img, svg {
                path#Frame,
                polygon#Fill-1,
                g#Frame {
                    fill: $color--teal-light;
                }
              }
          }
          .content-right {
            h4 {
              color: $color--teal-light;
            }
          }
      }
    }
    a.secondaryslide-container:hover {
      .content-left {
          img, svg {
            path#Frame,
            polygon#Fill-1,
            g#Frame {
                fill: $color--teal-light !important;
            }
          }

      }
      .content-right {
          h4,p{
              color: $color--teal-light !important;
          }
        }
      }

  }



}
