
/* =============================================
================================================
Content
===============================================
============================================= */

table {
  border-collapse: collapse;
  margin-top: 1rem;
  width: 100%;
  text-align: left;
  @include respond-to-max(medium) {
    font-size: 0.75rem;
  }
  @include respond-to-min(large) {
    margin-top: 2rem;
  }
}

thead tr {
  cursor: default;
  background: $color--blue-dark;
}
thead th {
  color: $color--white;
}

td,
th {
    padding: 0.5rem;
    @include respond-to-min(large) {
      padding: 1rem;
  }
}

tr {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  -webkit-transition: all 130ms ease-in-out;
  -moz-transition:  all 130ms ease-in-out;
  -o-transition:  all 130ms ease-in-out;
}

tbody tr:hover {
  background: #DCF9F7;
  color: $color--black;
}
