
/* =============================================
================================================
Footer
===============================================
============================================= */

.site-footer {
  flex-shrink: 0;


    .footer-row {
      position: relative;

      @include respond-to-min(large) {
        height: 100%;
        max-height: 420px;
      }
      @include respond-to-min(wide) {
        max-height: 450px;
      }
      @include respond-to-min(uwide) {
        margin: 0 -1rem;
      }

      &.upper {
        border-top: 1px solid #D8D8D8;
        padding: 1.5rem 0 0.5rem 0;

        @include respond-to-min(medium) {
            padding: 2rem 0 1rem 0;
        }
        @include respond-to-min(large) {
            padding: auto;
        }
        .wrap,
        .footer-row-container,
        .menu-main-menu-container {
          height: 100%;
        }

        .footer-row-container {
          position: relative;
          /* Social Icons */

          .footer-social {
            position: absolute;
            width: 54px;
            top: 0;
            right: 0;

            @include respond-to-min(medium) {
              width: 58px;
            }
            @include respond-to-min(large) {
              left: auto;
              top: auto;
              right: 58px;
              bottom: -3rem;
            }
            @include respond-to-min(uwide) {

              right: 0px;
            }
            @include respond-to-min(jumbo) {
              right: -58px;
            }
            a {
              svg {
                max-width: 22px;
                margin-right: 2px;

                @include respond-to-min(medium) {
                  max-width: 24px;
                }
                path#Path_1_ {
                    mask: none;
                }
                g#Symbols .st0 {
                    display: block;
                    -webkit-transition: all 130ms ease-in-out;
                    -moz-transition:  all 130ms ease-in-out;
                    -o-transition:  all 130ms ease-in-out;
                  }

                path.st2 {
                  display: block;
                  filter: none;
                  -webkit-transition: all 130ms ease-in-out;
                  -moz-transition:  all 130ms ease-in-out;
                  -o-transition:  all 130ms ease-in-out;
                }
              }

              &:hover {
                g#Symbols .st0 {
                    fill: $color--teal-light;
                }
                path.st2 {
                fill: $color--teal-light;
                }
              }
            }
          }
        }

        @include respond-to-min(large) {
          padding: 4rem 0;
        }

        ul#footer-menu {
          display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox; /* TWEENER - IE 10 */
          display: -webkit-flex; /* NEW - Chrome */
          display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
          flex-flow: column;
          list-style: none;
          padding: 0;
          margin: 0;
          height: 100%;

          @include respond-to-min(large) {
            flex-flow: row;
            justify-content: space-between;
          }
            li {
              margin-bottom: 0;
            }
            li.menu-parent {
              line-height: 1;
              margin-bottom: 0;
              padding-bottom: 1rem;
              padding-left: 1.5rem;

              @include respond-to-min(large) {

                padding-left: 0;
                min-width: 115px;
              }

              @include respond-to-min(uwide) {
                min-width: 200px;
              }

              a {
                position: relative;
                cursor: pointer;
                pointer-events: none;
                font-weight: bold;
                margin-bottom: 3rem;
                font-size: 0.75rem;
                letter-spacing: 2.15px;
                text-transform: uppercase;
                color: $color--primary !important;

                @include respond-to-min(large) {
                  cursor: none;
                }

                br {
                  display: none;
                  @include respond-to-min(large) {
                    display: block;
                  }
                }

                &:after {
                  content: '';
                  position: absolute;
                  width: 10px;
                  height: 10px;
                  background: url('../../assets/images/icons/phs-plus-icon.svg') no-repeat center center;
                  left: -1.5rem;
                  top: 1px;
                  @include respond-to-min(large) {
                    display: none;
                  }
                }

              }

              &.active {

                a {
                  color: $color--teal;
                  &:after {
                    background: url('../../assets/images/icons/phs-minus-icon.svg') no-repeat center center;
                  }
                }
              }


            .submenu-container {
              display: none;
              @include respond-to-min(large) {
                display: block;
              }

              /* Sub Menus */
              ul.sub-menu {
                list-style: none;
                padding: 0;
                margin: 0;
                padding-top: 0.5rem;
                line-height: 1.8;

                @include respond-to-min(large) {
                  position: relative;
                  padding-top: 2.5rem;
                  height: 100%;
                  &:after {
                    content: '';
                    position: absolute;
                    top: 1.25rem;
                    left: 0;
                    width: 48px;
                    height: 1px;
                    background: $color--teal;
                  }
                }

                li a {
                  cursor: pointer;
                  pointer-events: auto;
                  font-weight: normal;
                  color: $color--grey !important;
                  letter-spacing: 0;
                  text-transform: none;
                  font-size: 0.75rem;

                  @include respond-to-min(wide) {
                    font-size: 0.875rem;
                  }

                  &:hover {
                    color: $color--teal !important;
                  }
                  &:after {
                    display: none;
                  }
                }
              }
            }

              &:last-of-type {
                  @include respond-to-min(large) {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                  }
              }
            }




        }
      }



      /* Bottom Row */

      &.bottom {
        padding: 1rem 0;
        border-top: 1px solid #D8D8D8;

        @include respond-to-min(large) {
          height: 80px;
          padding: 0;
        }

        .footer-row-container {
          display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox; /* TWEENER - IE 10 */
          display: -webkit-flex; /* NEW - Chrome */
          display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
          flex-flow: column;
          align-content: center;

          @include respond-to-min(large) {
            flex-flow: row;
            justify-content: space-between;
            height: 80px;
          }

          .footer-col {

            @include respond-to-min(large) {
              display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
              display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
              display: -ms-flexbox; /* TWEENER - IE 10 */
              display: -webkit-flex; /* NEW - Chrome */
              display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
              -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
              -moz-box-flex: 1; /* OLD - Firefox 19- */
              -webkit-flex: 1; /* Chrome */
              -ms-flex: 1; /* IE 10 */
              flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
              align-items: center;
              padding-bottom: 0;
            }


            &.legal {
              p {
                margin: 0;
                font-size: 0.75rem;
                @include respond-to-min(large) {
                  font-size: 0.875rem;
                }
              }
            }

            &.terms {
              a {
                display: inline-block;
                font-size: 0.75rem;
                padding-right: 1rem;
                @include respond-to-min(large) {
                  font-size: 0.875rem;
                  padding-right: 2rem;
                }
              }
            }

            &.website {
              @include respond-to-min(large) {
                justify-content: flex-end;
              }
              p {
                margin: 0;
                font-size: 0.75rem;

                @include respond-to-min(large) {
                  font-size: 0.875rem;
                }
                a {
                  color: $color--primary;
                  font-weight: bold;

                  &:hover {
                    color: $color--teal;
                  }
                }
              }
            }
          }
        }


      }
    }


}
