
/* =============================================
================================================
Header
===============================================
============================================= */

#masthead .wrap {
  position: relative;
}

.site-header {
  position: fixed;
  height: 0px;
  width: 100%;
  z-index: 99;
  height: 60px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;

  @include respond-to-min(large) {
    height: 80px;
  }

  .wrap {
    height: 100%;

    .navigation-top {
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      height: 100%;
      z-index: 9999;
      position: relative;

      .header-logo {
        opacity: 1;
        visibility: visible;
        transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;

        a {
          display: block;
          height: 50px;

          @include respond-to-min(large) {
            height: 58px;
          }

          svg {
              width: 65px;
              height: 50px;

              @include respond-to-min(large) {
                width: 76px;
                height: 58px;
              }
              polygon#Fill-1 {
                fill: $color--teal;
                display: block;
                -webkit-transition: all 250ms ease-in-out;
                -moz-transition:  all 250ms ease-in-out;
                -o-transition:  all 250ms ease-in-out;
              }
              polyline#Fill-4,
              path#Fill-6,
              path#Fill-3 {
                fill: $color--white;
                mask: none;
                visibility: visible;
                opacity: 1;
                transform: translateY(0px);
                -webkit-transition: all 200ms ease-in-out;
                -moz-transition:  all 200ms ease-in-out;
                -o-transition:  all 200ms ease-in-out;
              }
              g.st6 {
                display: block;
                visibility: hidden;
                opacity: 0;
                transform: translateY(80px);
                -webkit-transition: all 250ms ease-in-out;
                -moz-transition:  all 250ms ease-in-out;
                -o-transition:  all 250ms ease-in-out;
              }
          }

          &:hover {
            path#Fill-3,
            polyline#Fill-4,
            path#Fill-6 {
              visibility: hidden;
              opacity: 0;
              transform: translateY(-80px);
            }

            svg polygon#Fill-1, {
                fill: $color--teal-light;
            }
            g.st6 {
              visibility: visible;
              opacity: 1;
              fill: $color--teal-light;
              transform: translateY(0px);
            }
          }

        }

      }


    }

  }

}

body.has-scrolled {

  .site-header {
    -webkit-box-shadow: 0px -4px 22px 3px rgba(42,46,56,0.5);
    -moz-box-shadow: 0px -4px 22px 3px rgba(42,46,56,0.5);
    box-shadow: 0px -4px 22px 3px rgba(42,46,56,0.5);
  }

}

body.phs-front-page {

  &:not(.has-scrolled) .site-header {
    background: transparent !important;
  }

}
