
/* =============================================
================================================
Main Components
===============================================
============================================= */


.site-content {
  background-color: #fff;
  position: relative;
  padding-top: 60px;

  @include respond-to-min(large) {
    padding-top: 80px;
  }
}

body.phs-front-page {
  .site-content {
    padding-top: 0px;
  }
}

.content-scroll,
.image-scroll {
  visibility: hidden;
}


/* =============================================
================================================
Front page
===============================================
============================================= */


/* Intro Block */
section.frontpage-intro-block {
  height: 100vh;
  min-height: 500px;
  max-height: 600px;

    @include respond-to-min(medium) {
      min-height: 600px;
      max-height: 768px;
    }

    @include respond-to-min(large) {
      min-height: 800px;
      max-height: 1080px;
    }

  .wrap.large {

    height: 100%;
    position: relative;
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      flex-flow: column;
      align-content: center;
      justify-content: center;


    .intro-title h1 {
      margin-top: 0;
      margin-bottom: 2rem;

      @include respond-to-min(medium) {
        margin-bottom: 2rem;
      }
      @include respond-to-min(wide) {
        margin-bottom: 3rem;
      }
    }

    .intro-arrow {
        position: absolute;
        width: 60px;
        height: 60px;
        bottom: -2rem;
        right: 1rem;
        background: url('../../assets/images/patterns/phs-down-arrow-bg.svg') no-repeat center center;
        background-size: contain;


        @include respond-to-min(medium) {
          width: 90px;
          height: 90px;
          bottom: -3rem;
          right: 2rem;
        }

        @include respond-to-min(large) {
          right: 8rem;
          bottom: -4rem;
        }

        @include respond-to-min(uwide) {
          width: 116px;
          height: 116px;
          bottom: -5rem;
          right: 8rem;
        }
        @include respond-to-min(suwide) {
          bottom: -4rem;
          right: 8%;
        }

        &:hover {
          transition: bounce 2s infinite, background 130ms ease-in-out;
          -moz-animation: bounce 2s infinite, background 130ms ease-in-out;
          -webkit-animation: bounce 2s infinite, background 130ms ease-in-out;
          animation: bounce 2s infinite, background 130ms ease-in-out;
        }

    }

  }


}

/* Life at PHS Block */
section.frontpage-life-block {
    height: 100%;

    @include respond-to-min(medium) {
      height: 80vh;
      min-height: 700px;
      max-height: 800px;
    }

    @include respond-to-min(wide) {
      min-height: 800px;
      max-height: 980px;
    }

    .wrap {
      height: 100%;
    }

    .life-phs-wrap {
        height: 100%;
        width: 100%;
        position: relative;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-flow: column-reverse;
        align-items: center;
        justify-content: space-between;

        @include respond-to-min(large) {
          flex-flow: row;
          align-items: center;
          justify-content: space-between;
        }

        .life-phs-image {
          width: 100%;
          height: 100%;
          margin-top: 2rem;

            @include respond-to-min(medium) {
              margin-top: 3rem;
            }

            @include respond-to-min(large) {
              -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
              -moz-box-flex: 1; /* OLD - Firefox 19- */
              -webkit-flex: 1; /* Chrome */
              -ms-flex: 1; /* IE 10 */
              flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
              display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
              display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
              display: -ms-flexbox; /* TWEENER - IE 10 */
              display: -webkit-flex; /* NEW - Chrome */
              display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
              justify-content: center;
              align-items: center;
              min-width: 60%;
              margin-top: 0;
            }

            @include respond-to-min(uwide) {
              justify-content: flex-start;
            }

            .phs-moving-images {
              position: relative;
              width: 100%;
              height: 280px;
              margin-left: auto;
              margin-right: auto;
              @include respond-to-min(small) {
                height: 350px;
              }
              @include respond-to-min(medium) {
                height: 100%;
                max-height: 380px;
                max-width: 500px;
              }
              @include respond-to-min(large) {
                margin-left: inherit;
                margin-right: inherit;
              }
              @include respond-to-min(wide) {
                max-height: 418px;
                max-width: 550px;
              }
              @include respond-to-min(uwide) {
                max-height: 533px;
                max-width: 700px;
              }
              @include respond-to-min(suwide) {
                max-height: 585px;
                max-width: 768px;
              }

              .life-phs-image-main {
                background-size: cover !important;
                background-position: center center !important;
                @include respond-to-min(large) {
                  border: 2px solid $color--white;
                }
                @include respond-to-min(suwide) {
                  border: 4px solid $color--white;
                }

                &.image-1 {
                      position: relative;
                      height: 100%;
                      width: 100%;

                      @include respond-to-min(medium) {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 3;
                        width: 65%;
                        height: 75%;
                      }
                  }

                  &.image-2 {
                    display: none;
                      @include respond-to-min(medium) {
                        display: block;
                        position: absolute;
                        top: 25%;
                        right: 0;
                        z-index: 4;
                        width: 45%;
                        height: 55%;
                      }
                    }

                    &.image-3 {
                        display: none;
                        @include respond-to-min(medium) {
                          display: block;
                          position: absolute;
                          bottom: 0;
                          right: 35%;
                          z-index: 5;
                          width: 25%;
                          height: 35%;
                        }
                      }


              }

            }
        }

        .life-phs-content {
          width: 100%;
            text-align: left;
            @include respond-to-max(large) {
              text-align: center;
            }
            @include respond-to-min(large) {
              -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
              -moz-box-flex: 1; /* OLD - Firefox 19- */
              -webkit-flex: 1; /* Chrome */
              -ms-flex: 1; /* IE 10 */
              flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
              min-width: 40%;
            }
        }

    }

}

/* Our School Block */
section.frontpage-ourschool-block {
  padding: 0;
  height: 100vh;
  max-height: 480px;
  background: $color--primary;

  @include respond-to-min(small) {
    max-height: 520px;
  }
  @include respond-to-min(medium) {
    max-height: 600px;
  }
  @include respond-to-min(large) {
    min-height: 700px;
    max-height: 780px;
  }
  @include respond-to-min(uwide) {
    min-height: 880px;
    max-height: 1080px;
  }

  .ourschool-wrap {
      height: 100%;
      width: 100%;
      position: relative;
      display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox; /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Chrome */
      display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
      flex-flow: column-reverse;

      @include respond-to-min(large) {
        flex-flow: row;
      }

      .ourschool-main {
        width: 100%;
        height: 100%;

          @include respond-to-min(large) {
            -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
            -moz-box-flex: 1; /* OLD - Firefox 19- */
            -webkit-flex: 1; /* Chrome */
            -ms-flex: 1; /* IE 10 */
            flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
            display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox; /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Chrome */
            display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
            justify-content: center;
            align-items: center;
            min-width: 60%;
          }
          @include respond-to-min(wide) {
            min-width: 65%;
          }
          @include respond-to-min(massive) {
            min-width: 60%;
          }

      }

      .ourschool-secondary {
        width: 100%;
        display: none;

          @include respond-to-min(large) {
            display: block;
            -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
            -moz-box-flex: 1; /* OLD - Firefox 19- */
            -webkit-flex: 1; /* Chrome */
            -ms-flex: 1; /* IE 10 */
            flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
            display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox; /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Chrome */
            display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
            justify-content: flex-end;
            flex-direction: column;
            min-width: 40%;
            padding: 5vw 2rem;
          }

          @include respond-to-min(wide) {
            min-width: 35%;
            padding: 5vw 2rem 5vw 5vw;
          }
          @include respond-to-min(suwide) {
            padding: 5vw;
          }
          @include respond-to-min(jumbo) {
            padding-right: 160px;
          }
          @include respond-to-min(massive) {
            padding-right: 488px;
            min-width: 40%;
          }

          .ourschool-title {

            h2 {
              @include respond-to-min(large) {
                margin-bottom:  1.5rem;
              }
              @include respond-to-min(wide) {
                margin-bottom: 2rem;
              }
              @include respond-to-min(jumbo) {
                margin-bottom: 3rem;
              }
              br {
                  display: none;
                  @include respond-to-min(jumbo) {
                    display: block;
                  }
              }
            }
          }
      }

  }


}




/* =============================================
================================================
Content pages
===============================================
============================================= */

/* Text & Image Block */
section.text-image-block {
    height: 100%;

    .wrap {
      height: 100%;


      &.small {
        .text-image-wrap .phs-image .phs-image-main {
          position: relative;
          width: 100%;
          height: 280px;
          margin: 0;

          @include respond-to-min(small) {
            height: 380px;
          }
          @include respond-to-min(large) {
            margin-right: 2.5vw;
          }
          @include respond-to-min(uwide) {
            height: 418px;
          }
          @include respond-to-min(suwide) {
            height: 500px;
          }
          @include respond-to-min(jumbo) {
            height: 525px;
          }
        }
      }

    }

    .text-image-wrap {
        height: 100%;
        width: 100%;
        position: relative;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-flow: column-reverse;
        align-items: center;
        justify-content: space-between;

        @include respond-to-min(large) {
          flex-flow: row;
          align-items: center;
          justify-content: space-between;
        }


        .phs-image {
          width: 100%;
          height: 100%;
          margin-top: 2rem;

            @include respond-to-min(medium) {
              margin-top: 3rem;
            }

            @include respond-to-min(large) {
              -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
              -moz-box-flex: 1; /* OLD - Firefox 19- */
              -webkit-flex: 1; /* Chrome */
              -ms-flex: 1; /* IE 10 */
              flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
              display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
              display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
              display: -ms-flexbox; /* TWEENER - IE 10 */
              display: -webkit-flex; /* NEW - Chrome */
              display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
              justify-content: center;
              align-items: center;
              min-width: 55%;
              margin-top: 0;
              justify-content: flex-start;
            }


            .phs-image-main {
              position: relative;
              width: 100%;
              border-radius: 8px;
              margin-left: auto;
              margin-right: auto;
              background-size: cover !important;
              background-position: center center !important;
              position: relative;
              width: 100%;
              height: 280px;
              margin: 0;

              @include respond-to-min(small) {
                height: 380px;
              }
              @include respond-to-min(large) {
                margin-right: 2.5vw;
              }
              @include respond-to-min(uwide) {
                height: 418px;
              }
              @include respond-to-min(suwide) {
                height: 500px;
              }
              @include respond-to-min(jumbo) {
                height: 525px;
              }
            }

            .phs-moving-images {
              position: relative;
              width: 100%;
              height: 280px;
              margin-left: auto;
              margin-right: auto;
              @include respond-to-min(small) {
                height: 350px;
              }
              @include respond-to-min(medium) {
                height: 100%;
                max-height: 380px;
              }
              @include respond-to-min(large) {
                margin-left: inherit;
                margin-right: inherit;
              }
              @include respond-to-min(wide) {
                max-height: 418px;
                max-width: 550px;
              }
              @include respond-to-min(uwide) {
                max-height: 533px;
                max-width: 700px;
              }
              @include respond-to-min(suwide) {
                max-height: 585px;
                max-width: 768px;
              }

              .life-phs-image-main {
                background-size: cover !important;
                background-position: center center !important;
                @include respond-to-min(large) {
                  border: 2px solid $color--white;
                }
                @include respond-to-min(suwide) {
                  border: 4px solid $color--white;
                }

                &.image-1 {
                      position: relative;
                      height: 100%;
                      width: 100%;

                      @include respond-to-min(medium) {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 3;
                        width: 65%;
                        height: 75%;
                      }
                  }

                  &.image-2 {
                    display: none;
                      @include respond-to-min(medium) {
                        display: block;
                        position: absolute;
                        top: 25%;
                        right: 0;
                        z-index: 4;
                        width: 45%;
                        height: 55%;
                      }
                    }

                    &.image-3 {
                        display: none;
                        @include respond-to-min(medium) {
                          display: block;
                          position: absolute;
                          bottom: 0;
                          right: 35%;
                          z-index: 5;
                          width: 25%;
                          height: 35%;
                        }
                      }


              }

            }
        }



        .phs-content {
          width: 100%;

            @include respond-to-min(large) {
              -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
              -moz-box-flex: 1; /* OLD - Firefox 19- */
              -webkit-flex: 1; /* Chrome */
              -ms-flex: 1; /* IE 10 */
              flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
              min-width: 45%;
            }
        }


        &.align-right {
          text-align: left !important;
          @include respond-to-min(large) {
            flex-flow: row-reverse;

            .phs-image {
              @include respond-to-min(large) {
                justify-content: flex-end;
              }
              .phs-image-main {
                @include respond-to-min(large) {
                  margin-left: 2.5vw !important;
                  margin-right: auto !important;;
                }
              }
            }
          }
        }
    }

}


/* Image Block */


section.image-block {
    height: 100%;

    .wrap {
      height: 100%;

        .main-image {
          width: 100%;
          height: 100%;

          .phs-image-main{
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            border-radius: 8px;
            width: 100%;
            height: 280px;
            margin: 0;
            background-repeat: no-repeat !important;

            &.bg-cover {
              background-size: cover !important;
            }
            &.bg-contain {
                background-size: contain !important;
            }
            &.bg-center-center {
                background-position: center center !important;
            }
            &.bg-center-top {
                background-position: center top !important;
            }
            &.bg-center-bottom {
                background-position: center bottom !important;
            }
            &.bg-left-center {
                background-position: left center !important;
            }
            &.bg-left-top {
                background-position: left top !important;
            }
            &.bg-left-bottom {
                background-position: left bottom !important;
            }
            &.bg-right-center {
                background-position: right center !important;
            }
            &.bg-right-top {
                background-position: right top !important;
            }
            &.bg-right-bottom {
                background-position: right bottom !important;
            }


                @include respond-to-min(small) {
                  height: 380px;

                }
                @include respond-to-min(medium) {
                  height: 50vh;
                  border-radius: 8px;
                  min-height: 500px;
                }
                @include respond-to-min(uwide) {
                  min-height: 518px;
                }
                @include respond-to-min(suwide) {
                  min-height: 600px;
                }
                @include respond-to-min(jumbo) {
                  min-height: 725px;
                }
              }
          }


        }
      }


/* Quote Block */
.quote-block {
  h3.quote {
    position: relative;
    padding: 0 1rem;
    font-family: "DecimaPro", "Helvetica Neue", helvetica, arial, sans-serif;

    @include respond-to-min(medium) {
      padding: 0 1.5rem;
    }
    @include respond-to-min(wide) {
      padding: 0;
    }

    &:before {
      content: '';
      background: url('../../assets/images/icons/phs-quote-icon-teal.svg') no-repeat center center;
      background-size: contain;
      position: absolute;
      top: 0px;
      left: -0.5rem;
      width: 1rem;
      height: 1rem;
      @include respond-to-min(medium) {
        left: -1rem;
        width: 1.5rem;
        height: 1.5rem;
      }
      @include respond-to-min(wide) {
        left: -4rem;
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    &:after {
      content: '';
      transform: rotate(180deg);
      background: url('../../assets/images/icons/phs-quote-icon-teal.svg') no-repeat center center;
      background-size: contain;
      position: absolute;
      bottom: 0px;
      right: -0.5rem;
      width: 1rem;
      height: 1rem;
      @include respond-to-min(medium) {
        right: 0rem;
        width: 1.5rem;
        height: 1.5rem;
      }
      @include respond-to-min(large) {
        right: -1rem;
      }
      @include respond-to-min(wide) {
        right: -3rem;
        width: 2.5rem;
        height: 2.5rem;
      }
      @include respond-to-min(jumbo) {
        right: 0rem;
      }
    }


  }

  h3.quote + h5.quote-author {
    margin-top:  1rem;

    @include respond-to-min(medium) {
      margin-top:  1.5rem;
    }
    @include respond-to-min(wide) {
      margin-top: 2.5rem;
    }
  }

  h5.quote-author {
    color: $color--teal !important;
    font-family: "DecimaPro", "Helvetica Neue", helvetica, arial, sans-serif;
    text-transform: uppercase;
    padding: 0 1rem;
    margin: 0;

    @include respond-to-min(medium) {
      padding: 0 1.5rem;
    }
    @include respond-to-min(wide) {
      padding: 0;
    }
  }

  &.align-center {
    .block-button {
      .buttons-wrap {
        justify-content: center;
        align-items: center;
      }
    }
  }

  &.align-right {
    .block-button {
      .buttons-wrap {
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }

  &.bg-teal {
    &.quote-block {
      h3.quote:before,
      h3.quote:after {
        background: url('../../assets/images/icons/phs-quote-icon.svg') no-repeat center center;
        background-size: contain;
      }
      h5.quote-author {
        color: $color--teal-light !important;
      }
    }
  }
}

/* Button Block */
.button-block {

    .block-button {
      margin-top:  1rem;
      margin-left: -1rem;
      margin-right: -1rem;

      @include respond-to-min(large) {
        margin-top:  1.5rem;
      }
      @include respond-to-min(wide) {
        margin-top: 2rem;
      }
      @include respond-to-min(jumbo) {
        margin-top: 3rem;
      }

      .buttons-wrap {
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
      }

      a.btn {
        margin: 0 1rem 1rem;
      }
    }

    &.align-center {
      .block-button {
        .buttons-wrap {
          justify-content: center;
          align-items: center;
        }
      }
    }

    &.align-right {
      .block-button {
        .buttons-wrap {
          justify-content: flex-end;
          align-items: flex-end;
        }
      }
    }

    &.bg-teal {
      &.quote-block {
        h3.quote:before,
        h3.quote:after {
          background: url('../../assets/images/icons/phs-quote-icon.svg') no-repeat center center;
          background-size: contain;
        }
        h5.quote-author {
          color: $color--teal-light !important;
        }
      }
    }
}


/* Text Block */
section.text-block {

  &.align-center {
    .block-button {
      .buttons-wrap {
        justify-content: center;
        align-items: center;
      }
    }
  }

  &.align-right {
    .block-button {
      .buttons-wrap {
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }

  &.bg-teal {
    &.quote-block {
      h3.quote:before,
      h3.quote:after {
        background: url('../../assets/images/icons/phs-quote-icon.svg') no-repeat center center;
        background-size: contain;
      }
      h5.quote-author {
        color: $color--teal-light !important;
      }
    }
  }

}


/* Accordion Block */
section.accordion-block {

    .accordion {
      width: 100%;
      color: $color--white;
      -webkit-appearance: none;
      appearance: none;
      border: 0;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
      transition: all 250ms ease-in-out;
      -o-transition: all 250ms ease-in-out;
      -ms-transition: all 250ms ease-in-out;
      -moz-transition: all 250ms ease-in-out;
      -webkit-transition: all 250ms ease-in-out;
      margin-bottom: 1rem;

          @include respond-to-min(wide) {
            margin-bottom: 1.5rem;
          }

        &.acc-blue {
          background: $color--primary;
        }
        &.acc-teal {
          background: $color--teal;
        }

      p.acc-title {
        position: relative;
        white-space: normal;
        margin: 0;
        font-weight: bold;
        padding: 0.75rem 2rem 0.75rem 0.75rem;

        @include respond-to-min(wide) {
          padding: 1rem 3rem 1rem 1.5rem;
        }

        &:after {
          content: '';
          position: absolute;
          width: 1rem;
          height: 1rem;
          right: 1rem;
          background: url('../../assets/images/icons/phs-arrow-down-white.svg') no-repeat center center;
          background-size: contain;
          transition: all 250ms ease-in-out;
          -o-transition: all 250ms ease-in-out;
          -ms-transition: all 250ms ease-in-out;
          -moz-transition: all 250ms ease-in-out;
          -webkit-transition: all 250ms ease-in-out;

          @include respond-to-min(wide) {
            width: 1.5rem;
            height: 1.5rem;
            right: 1.5rem;
          }

        }
      }

      .accordion-container {
        display: none;
        background: $color--white;
        border: 1px solid $color--primary;
        /* border-radius: 4px; */
        color: $color--primary;
        padding: 1.5rem 1rem;

          @include respond-to-min(wide) {
            padding: 2rem 1rem;
          }
      }

      &:hover,
      &.active {

        &.acc-blue {
          background:  $color--teal;
          .accordion-container {
            border: 1px solid $color--teal;
          }
        }
        &.acc-teal {
          background: $color--primary;

          .accordion-container {
            border: 1px solid  $color--primary;
          }
        }

      }
      &.active {
        p.acc-title:after {
          transform: rotate(180deg);
        }
      }
    }

}


/* Contact Page */
section.page-contact-hero {

    position: relative;
    height: 100%;

     @include respond-to-min(wide) {
        height: calc(100vh - 80px);
        max-height: 1000px;
     }

    .contact-hero-container{
      position: relative;
      height: 100%;
      width: 100%;

       @include respond-to-min(wide) {
          height: calc(100vh - 80px);
          max-height: 1000px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
       }

       .bg-image {
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
         overflow: hidden;



         .bg-image-main {
           height: 100%;
           width: 100%;
           max-width: 100%;
           background-size: cover !important;

            @include respond-to-min(wide) {
               height: calc(100vh - 80px);
               max-height: 1000px;
            }

           &.bg-image-mobile {
               @include respond-to-min(large) {
                 display: none;
               }
           }
           &.bg-image-desktop {
               @include respond-to-max(large) {
                 display: none;
               }
           }
         }

         &:after {
             content: '';
             position: absolute;
             height: 100%;
             width: 100%;
             top: 0;
             bottom: 0;
             left: 0;
             right: 0;
             background: rgba(42,46,56,0);
             background: -moz-linear-gradient(top, rgba(42,46,56,0.5) 0%, rgba(42,46,56,0.8) 30%, rgba(42,46,56,0.9) 100%);
             background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,46,56,0.5)), color-stop(30%, rgba(42,46,56,0.8)), color-stop(100%, rgba(42,46,56,0.9)));
             background: -webkit-linear-gradient(top, rgba(42,46,56,0.5) 0%, rgba(42,46,56,0.8) 30%, rgba(42,46,56,0.9) 100%);
             background: -o-linear-gradient(top, rgba(42,46,56,0.5) 0%, rgba(42,46,56,0.8) 30%, rgba(42,46,56,0.9) 100%);
             background: -ms-linear-gradient(top, rgba(42,46,56,0.5) 0%, rgba(42,46,56,0.8) 30%, rgba(42,46,56,0.9) 100%);
             background: linear-gradient(to bottom, rgba(42,46,56,0.5) 0%, rgba(42,46,56,0.8) 30%, #2a2e38 100%)

         }
       }

       .wrap {
         position: relative;
         height: 100%;
         width: 100%;
       }

       .contact-hero-content {
         position: relative;
         height: 100%;
         width: 100%;

          @include respond-to-min(wide) {
             position: relative;
             height: 100%;
             width: 100%;
             top: 0;
             bottom: 0;
             left: 0;
             right: 0;
             display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
             display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
             display: -ms-flexbox; /* TWEENER - IE 10 */
             display: -webkit-flex; /* NEW - Chrome */
             display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
             flex-flow: row;
             justify-content: center;
             align-items: flex-end;
             padding-bottom: 5vh;
           }

         .contact-info {
            text-align: center;
            padding-top: 2rem;

            @include respond-to-min(large) {
              padding-top: 5vh;
            }
             @include respond-to-min(large) {
               padding-top: 5vh;
             }
             @include respond-to-min(wide) {
               text-align: left;
               flex: 1;
               padding-right: 5vw;
             }

             .contact-slider {
               padding-top: 1rem;
               .slick-dots {
                 bottom: -20px;
               }
               .slick-list {
                 margin: 0 auto;
                  @include respond-to-min(wide) {
                   overflow: visible;
                 }
                 .contact-icon {
                   a {
                     display: block;
                     max-width: 85px;
                     text-align: center;


                     @include respond-to-min(wide) {
                       margin: 0;
                     }
                     p {
                       @include respond-to-min(wide) {
                         font-size: 1rem;
                         font-weight: bold;
                         margin-bottom: 0;
                       }
                     }
                   }
                 }
               }
             }

         }

         .contact-form {
           padding: 2rem 0;

           @include respond-to-min(medium) {
             padding: 5vh 0;
           }
            @include respond-to-min(large) {
              padding: 5vh 0;
              max-width: 60%;
              margin: 0 auto;
            }
            @include respond-to-min(wide) {
              max-width: 100%;
              padding: 0;
              margin: 0;
              flex: 1;
            }

            h5 {
              display: block;
              @include respond-to-min(wide) {
                display: none;
              }
            }
         }
       }


     }





}
