/* =============================================
================================================
        Desktop Menu
================================================
============================================= */


nav {
  height: 100vh;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 60px 2rem;

  @include respond-to-min(medium) {
   padding: 5vw 10vw;
  }

  @include respond-to-min(large) {
   padding: 10vw;
  }

  @include respond-to-min(suwide) {
   padding: 10vw 13vw;
  }

  .menu-main-menu-container {
    height: 100%;

      ul#main-menu {
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        flex-flow: column;
        align-content: flex-start;
        justify-content: center;

          li.menu-parent-primary {
            line-height: 1;
            position: relative;
            cursor: pointer;
            margin-bottom: 1rem;
            padding-left: 1.5rem;

            @include respond-to-min(small) {
              margin-bottom: 1.5rem;
              padding-left: 2rem;
            }

            @include respond-to-min(medium) {
              margin-bottom: 2rem;
            }

            a {
              pointer-events: none;
              font-family: "DecimaPro", "Roboto", "Helvetica Neue", helvetica, arial, sans-serif;
              font-weight: bold;
              text-transform: uppercase;
              color: $color--white;
              -webkit-transition: all 130ms ease-in-out;
              -moz-transition:  all 130ms ease-in-out;
              -o-transition:  all 130ms ease-in-out;
              font-size: 1.125rem;
              letter-spacing: 1.25px;

              @include respond-to-min(small) {
                font-size: 1.25rem;
                letter-spacing: 2.5px;
              }
              @include respond-to-min(medium) {
                font-size: 1.5rem;
                letter-spacing: 5px;
              }
              @include respond-to-min(wide) {
                font-size: 2rem;
                letter-spacing: 5px;
              }
              @include respond-to-min(suwide) {
                font-size: 2.25rem;
                letter-spacing: 5px;
              }
              @include respond-to-min(jumbo) {
                font-size: 2.5rem;
                letter-spacing: 5px;
              }

            }

            &:after {
              content: '';
              position: absolute;
              background: url('../../assets/images/icons/phs-plus-icon-white.svg') no-repeat center center;
              background-size: contain;
              -webkit-transition: all 130ms ease-in-out;
              -moz-transition:  all 130ms ease-in-out;
              -o-transition:  all 130ms ease-in-out;
              width: 13px;
              height: 13px;
              left: 0rem;
              top: 1px;

              @include respond-to-min(small) {
                width: 16px;
                height: 16px;
                left: 0rem;
                top: 2px;
              }
              @include respond-to-min(medium) {
                width: 18px;
                height: 18px;
                left: -0.25rem;
                top: 2px;
              }
              @include respond-to-min(wide) {
                width: 20px;
                height: 20px;
                left: -0.75rem;
                top: 3px;
              }
              @include respond-to-min(suwide) {
                width: 22px;
                height: 22px;
                left: -0.75rem;
                top: 4px;
              }
              @include respond-to-min(jumbo) {
                width: 24px;
                height: 24px;
                left: -1rem;
                top: 8px;
              }
            }


            &:hover {
              a {
                color: $color--teal;
              }
              &:after {
                background: url('../../assets/images/icons/phs-plus-icon-green.svg') no-repeat center center;
              }
            }

            &.active {
              a {
                color: $color--teal;
              }
              &:after {
                background: url('../../assets/images/icons/phs-minus-icon-teal.svg') no-repeat center center !important;
              }
            }

            &.current-page-parent.active {
              &:after {
                background: url('../../assets/images/icons/phs-minus-icon-teal-light.svg') no-repeat center center;
              }
            }

            &.current-page-parent {
              a {
                color: $color--teal-light;
              }
              &:after {
                background: url('../../assets/images/icons/phs-plus-icon-green-light.svg') no-repeat center center;
              }
            }


          .submenu-container {
            display: none;

            /* Sub Menus */
            ul.sub-menu {
              list-style: none;
              padding: 0;
              margin: 0;
              padding-top: 0.5rem;
              line-height: 1.6;
              position: relative;
              height: 100%;
              @include respond-to-min(small) {
                padding-top: 1rem;
              }

              li.menu-item {
                  margin: 0;
                  a {
                    cursor: pointer;
                    pointer-events: auto;
                    font-weight: normal;
                    color: $color--white;
                    letter-spacing: 0;
                    font-family: "Roboto", "Helvetica Neue", helvetica, arial, sans-serif;
                    text-transform: none;
                    font-size: 0.75rem;

                    @include respond-to-min(small) {
                      font-size: 0.875rem;
                    }
                    @include respond-to-min(medium) {
                      font-size: 1rem;
                    }
                    @include respond-to-min(suwide) {
                      font-size: 1.125rem;
                    }
                    @include respond-to-min(jumbo) {
                        font-size: 1.25rem;
                    }

                    &:hover {
                      color: $color--teal;
                    }

                  }

                  &.current-menu-item {
                    a {
                      color: $color--teal-light;
                    }
                  }
                }
            }
          }

      }


      }

  }
}


#menu-nav-extra {
  position: absolute;
  bottom: 0;
  width: 100%;
  bottom: 1rem;

  @include respond-to-min(medium) {
    bottom: 2rem;
  }

  .wrap {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-flow: column;
    align-items: flex-end;

    .menu-social {
      position: relative;
      width: 54px;

      @include respond-to-min(medium) {
        width: 58px;
      }

      a {
        svg {
          max-width: 22px;
          margin-right: 2px;

          @include respond-to-min(medium) {
            max-width: 24px;
          }
          path#Path_1_ {
              mask: none;
          }

          g#Symbols .st0 {
              fill: $color--white;
              display: block;
              -webkit-transition: all 130ms ease-in-out;
              -moz-transition:  all 130ms ease-in-out;
              -o-transition:  all 130ms ease-in-out;
            }
            g#Combined-Shape path.st1 {
              fill: $color--blue-dark;
              -webkit-transition: all 130ms ease-in-out;
              -moz-transition:  all 130ms ease-in-out;
              -o-transition:  all 130ms ease-in-out;
            }

          path.st2 {
            fill: $color--white;
            display: block;
            filter: none;
            -webkit-transition: all 130ms ease-in-out;
            -moz-transition:  all 130ms ease-in-out;
            -o-transition:  all 130ms ease-in-out;
          }
          path.st3 {
            fill: $color--blue-dark;
            -webkit-transition: all 130ms ease-in-out;
            -moz-transition:  all 130ms ease-in-out;
            -o-transition:  all 130ms ease-in-out;
          }
        }

        &:hover {
          g#Symbols .st0 {
              fill: $color--teal;
          }
          path.st2 {
          fill: $color--teal;
          }
        }
      }
    }

    .menu-contact {

      a {
          display: block;
          text-align: right;
          font-family: "DecimaPro", "Roboto", "Helvetica Neue", helvetica, arial, sans-serif;
          font-weight: bold;
          text-transform: uppercase;
          color: $color--white;
          -webkit-transition: all 130ms ease-in-out;
          -moz-transition:  all 130ms ease-in-out;
          -o-transition:  all 130ms ease-in-out;
          line-height: 1.5;
          font-size: 0.75rem;
          letter-spacing: 0.5px;

          @include respond-to-min(medium) {
            font-size: 1.125rem;
            line-height: 1.5;
            letter-spacing: 1.25px;
          }

          @include respond-to-min(uwide) {
            font-size: 1.25rem;
            letter-spacing: 1.5px;
          }

          &:hover {
            color: $color--teal;
          }
      }

    }
  }


}
