
/* =============================================
================================================
Colours
===============================================
============================================= */

// Generic

$color--black:          #000 !default;
$color--white:          #fff !default;


// PRIMARY colors

$color--blue-dark: #2A2E38;
$color--blue: #0046D0;
$color--blue-light: #0A90C4;
$color--blue-grey: #37444F;


// ACCENT colors

$color--teal: #00AAAD;
$color--teal-light: #52E1D8;

// ADDTIONAL colors

$color--bgreen: #C3EA0A;
$color--borange: #E2532C;

// NEUTRAL colors

$color--warmbrown: #BFB7B0;
$color--warmbrown-light: #D9D4CF;
$color--grey: #959EA6;
$color--warmgrey: #F9F8F8;

// Primary & Secondary

$color--primary: $color--blue-dark;
$color--secondary: $color--teal;

// Background Colours

.bg-white {
  background-color: $color--white !important;

  h1, h2, h3, h4, h5, p {
    color: $color--primary;
  }

}

.bg-blue-dark {
  background-color: $color--primary !important;

    h1, h2, h3, h4, h5, p {
      color: $color--white;
    }

    thead tr {
      cursor: default;
      background: $color--teal !important;
    }
    thead th {
      color: $color--primary;
    }

    tr {
      background: $color--white;
      border-bottom: 1px solid #eee;
    }
}

.bg-blue {
  background-color: $color--blue !important;

    h1, h2, h3, h4, h5, p {
      color: $color--white;
    }
}

.bg-blue-light {
  background-color: $color--blue-light !important;

    h1, h2, h3, h4, h5, p {
      color: $color--white;
    }
}

.bg-grey-blue {
  background-color: $color--blue-grey !important;

    h1, h2, h3, h4, h5, p {
      color: $color--white;
    }
}

.bg-teal {
  background-color: $color--teal !important;

    h1, h2, h3, h4, h5, p {
        color: $color--primary;
    }

}

.bg-teal-light{
  background-color: $color--teal-light !important;

    h1, h2, h3, h4, h5, p {
        color: $color--primary;
    }
}

.bg-green-bright {
  background-color: $color--bgreen !important;

    h1, h2, h3, h4, h5, p {
        color: $color--primary;
    }
}

.bg-green-orange {
  background-color: $color--borange !important;

    h1, h2, h3, h4, h5, p {
        color: $color--primary;
    }

}

.bg-warmbrown {
  background-color: $color--warmbrown !important;

    h1, h2, h3, h4, h5, p {
        color: $color--primary;
    }

}

.bg-warmbrown-light {
  background-color: $color--warmbrown-light !important;

    h1, h2, h3, h4, h5, p {
        color: $color--primary;
    }

}

.bg-grey-light {
  background-color: $color--grey !important;

    h1, h2, h3, h4, h5, p {
        color: $color--primary;
    }

}

.bg-warmgrey {
  background-color: $color--warmgrey !important;

    h1, h2, h3, h4, h5, p {
        color: $color--primary;
    }

}

// Title Colours

h1, h2, h3, h4, h5, p {

    &.dblue-color {
      color: $color--primary !important;
    }
    &.teal-color {
      color: $color--teal !important;
    }
    &.teal-light-color {
      color: $color--teal-light !important;
    }
    &.white-color {
      color: $color--white !important;
    }
    &.grey-color {
      color: $color--grey !important;
    }

}
