/* =============================================
================================================
Layout
===============================================
============================================= */


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #fff;
  margin: 0;
  overflow-x: hidden;
  /* Fallback for when there is no custom background color defined. */
}


#page {
  position: relative;
  word-wrap: break-word;
  flex: 1 0 auto;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;

  @include respond-to-min(medium) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include respond-to-min(large) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @include respond-to-min(wide) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include respond-to-min(uwide) {
    max-width: 1440px;
  }

  @include respond-to-min(suwide) {
    padding: 0;
  }

  @include respond-to-min(jumbo) {
    max-width: 1600px;
  }

  &.medium {
    @include respond-to-min(wide) {
      max-width: 1280px;
    }
    @include respond-to-min(jumbo) {
      max-width: 1440px;
    }
  }

  &.small {
    @include respond-to-min(wide) {
      max-width: 1024px;
    }
    @include respond-to-min(jumbo) {
      max-width: 1280px;
    }
  }

  &.smaller {
    @include respond-to-min(large) {
      max-width: 768px;
    }
    @include respond-to-min(jumbo) {
      max-width: 1024px;
    }
  }
}


.wrap:after {
  clear: both;
  content: "";
  display: block;
}

video {
  object-fit: cover;
}

body.open-mobilemenu,
body.modal-open,
body.location-modal-open,
body.video-modal-open {
  overflow-y: hidden !important;
 }

section.layout-block {
    position: relative;
    z-index: 1;
    background-size: cover !important;

    .wrap {
      position: relative;
      z-index: 3;
    }

   &.padd-small {
     padding-top: 1rem;
     padding-bottom: 1rem;

     @include respond-to-min(medium) {
       padding-top: 2rem;
       padding-bottom: 2rem;
     }
   }

   &.padd-med {
     padding-top: 2rem;
     padding-bottom: 2rem;

     @include respond-to-min(medium) {
       padding-top: 3rem;
       padding-bottom: 3rem;
     }
     @include respond-to-min(uwide) {
       padding-top: 5rem;
       padding-bottom: 5rem;
     }
     @include respond-to-min(jumbo) {
       padding-top: 6rem;
       padding-bottom: 6rem;
     }
   }

   &.padd-large {
     padding-top: 3rem;
     padding-bottom: 3rem;

     @include respond-to-min(medium) {
       padding-top: 4rem;
       padding-bottom: 4rem;
     }
     @include respond-to-min(medium) {
       padding-top: 5rem;
       padding-bottom: 5rem;
     }
     @include respond-to-min(uwide) {
       padding-top: 6rem;
       padding-bottom: 6rem;
     }
     @include respond-to-min(jumbo) {
       padding-top: 8rem;
       padding-bottom: 8rem;
     }
   }

   &.align-left {

   }
   &.align-center {
     text-align: center;
   }
   &.align-right {
     text-align: right;
   }

   .pattern-bg {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 2;
     height: 100%;
     width: 100%;

     &.pattern-one,
     &.pattern-two {
        background-size: 80% !important;

       @include respond-to-min(medium) {
         background-size: 40% !important;
       }
       @include respond-to-min(large) {
         background-size: 25% !important;
       }
     }
   }

 }

 section.layout-block.text-block.bg-none + section.layout-block.button-block.bg-none {
    padding-top: 0;
}

section.text-block.bg-none + section.button-block.bg-none,
section.title-block.bg-none + section.button-block.bg-none,
section.table-block.bg-none + section.button-block.bg-none,
section.table-block.bg-none + section.table-block.bg-none,
section.text-block.bg-none + section.table-block.bg-none,
section.text-block.bg-none + section.image-block.bg-none,
section.title-block.bg-none + section.image-block.bg-none,
section.table-block.bg-none + section.image-block.bg-none,
section.title-block.bg-none + section.text-block.bg-none,
section.table-block.bg-none + section.text-block.bg-none,
section.text-block.bg-none + section.text-block.bg-none,
section.text-block.bg-none + section.text-image-block.bg-none,
section.text-image-block.bg-none + section.text-image-block.bg-none,
section.image-block.bg-none + section.text-block.bg-none,
section.button-block.bg-none + section.text-block.bg-none,
section.text-block.bg-none + section.accordion-block.bg-none  {
  padding-top: 0;
}



/*--------------------------------------------------------------
Alignments
--------------------------------------------------------------*/

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/*--------------------------------------------------------------
Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.entry-footer:before,
.entry-footer:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.nav-links:before,
.nav-links:after,
.pagination:before,
.pagination:after,
.comment-author:before,
.comment-author:after,
.widget-area:before,
.widget-area:after,
.widget:before,
.widget:after,
.comment-meta:before,
.comment-meta:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.entry-footer:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.nav-links:after,
.pagination:after,
.comment-author:after,
.widget-area:after,
.widget:after,
.comment-meta:after {
  clear: both;
}

$cubic-bezier: cubic-bezier(0.19, 1, 0.22, 1);
$base: $color--grey;
$sp-2: 1rem;
$f5: 1rem;
$f4: 1rem;

.desktop-only {
  @include respond-to-max(medium) {
    display: none;
  }
}

.mobile-only {
  @include respond-to-min(medium) {
    display: none;
  }
}

/* =============================================
================================================
Accessibility
================================================
============================================= */

/* Text meant only for screen readers. */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
