
/* =============================================
================================================
Typography
===============================================
============================================= */



@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.eot');
  src: url('../../assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Roboto-Regular.woff2') format('woff2'),
  url('../../assets/fonts/Roboto-Regular.woff') format('woff'),
  url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Bold.eot');
  src: url('../../assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Roboto-Bold.woff2') format('woff2'),
  url('../../assets/fonts/Roboto-Bold.woff') format('woff'),
  url('../../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DecimaPro';
  src: url('../../assets/fonts/DecimaPro-Bold.eot');
  src: url('../../assets/fonts/DecimaPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/DecimaPro-Bold.woff2') format('woff2'),
  url('../../assets/fonts/DecimaPro-Bold.woff') format('woff'),
  url('../../assets/fonts/DecimaPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGrotesk';
  src: url('../../assets/fonts/AktivGrotesk-Bold.eot');
  src: url('../../assets/fonts/AktivGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/AktivGrotesk-Bold.woff2') format('woff2'),
  url('../../assets/fonts/AktivGrotesk-Bold.woff') format('woff'),
  url('../../assets/fonts/AktivGrotesk-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

$sans-serif: "Roboto", "Helvetica Neue", helvetica, arial, sans-serif;

body,
button,
input,
select,
textarea {
  color: #333;
  font-family: $sans-serif;

  font-weight: 400;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.375;

  @include respond-to-min(small) {
    font-size: 16px;
    font-size: 1rem;
  }

  @include respond-to-min(uwide) {
    font-size: 18px;
    font-size: 1.25rem;

  }
}

p {
  margin: 0;
  padding: 0;
}

p + p {
  margin-top: 1rem;
  padding: 0;

  @include respond-to-min(wide) {
    margin-top: 1.5rem;
  }
}


p + h5,
p + ul,
p + ol,
ol + p,
ul + p,
h5 + p {
  margin-top: 1rem;
  padding: 0;

  @include respond-to-min(wide) {
    margin-top: 1.5rem;
  }
}

h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1.25;
  margin: 0;
}

h1 {
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1;
  clear: both;
  margin: 0;
  text-transform: uppercase;
  font-family: "DecimaPro", "Helvetica Neue", helvetica, arial, sans-serif;

  @include respond-to-min(small) {
    font-size: 2rem;
  }

  @include respond-to-min(medium) {
    font-size: 3.25rem;
  }

  @include respond-to-min(wide) {
    font-size: 3.75rem;
  }

  @include respond-to-min(uwide) {
    font-size: 4rem;
  }

  @include respond-to-min(suwide) {
    font-size: 4.25rem;
  }

  @include respond-to-min(jumbo) {
    font-size: 4.5rem;
  }

  &.page-title {
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "DecimaPro", "Helvetica Neue", helvetica, arial, sans-serif;

    @include respond-to-min(small) {
      font-size: 2rem;
    }

    @include respond-to-min(medium) {
      font-size: 3.25rem;
      margin-bottom: 1rem;
    }

    @include respond-to-min(wide) {
      font-size: 3.75rem;
      margin-bottom: 1.25rem;
    }

    @include respond-to-min(uwide) {
      font-size: 4rem;
      margin-bottom: 1.5rem;
    }

    @include respond-to-min(suwide) {
      font-size: 4.25rem;
      margin-bottom: 2rem;
    }

    @include respond-to-min(jumbo) {
      font-size: 4.5rem;
    }
  }

}


h2 {
  font-size: 34px;
  font-size: 2.125rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "AktivGrotesk", "Helvetica Neue", helvetica, arial, sans-serif;

    @include respond-to-min(narrow) {
      font-size: 36px;
      font-size: 2.25rem;
    }

    @include respond-to-min(medium) {
      font-size: 48px;
      font-size: 3rem;
    }

    @include respond-to-min(wide) {
      font-size: 60px;
      font-size: 3.75rem;
    }

    @include respond-to-min(suwide) {
      font-size: 65px;
      font-size: 4.625rem;
    }

    @include respond-to-min(jumbo) {
      font-size: 80px;
      font-size: 5rem;
    }

    &.front-title {
      font-size: 1.75rem;
      margin-bottom: 0.75rem;
      font-weight: 900;
      line-height: 1.1;
      text-transform: uppercase;
      font-family: "DecimaPro", "Helvetica Neue", helvetica, arial, sans-serif;

      @include respond-to-min(small) {
        font-size: 2rem;

      }

      @include respond-to-min(medium) {
        font-size: 3.25rem;
      }

      @include respond-to-min(wide) {
        font-size: 3.75rem;
        margin-bottom: 1.5rem;
      }

      @include respond-to-min(uwide) {
        font-size: 4rem;
        margin-bottom: 2rem;
      }

      @include respond-to-min(suwide) {
        font-size: 4.25rem;
        margin-bottom: 2.5rem;
      }

      @include respond-to-min(jumbo) {
        font-size: 4.5rem;
      }
    }

    &.page-title {
      font-size: 1.75rem;
      margin-bottom: 0.75rem;
      font-weight: 900;
      line-height: 1.1;
      text-transform: uppercase;
      font-family: "DecimaPro", "Helvetica Neue", helvetica, arial, sans-serif;

      @include respond-to-min(small) {
        font-size: 2rem;
      }

      @include respond-to-min(medium) {
        font-size: 3.25rem;
        margin-bottom: 1rem;
      }

      @include respond-to-min(wide) {
        font-size: 3.75rem;
        margin-bottom: 1.25rem;
      }

      @include respond-to-min(uwide) {
        font-size: 4rem;
        margin-bottom: 1.5rem;
      }

      @include respond-to-min(suwide) {
        font-size: 4.25rem;
        margin-bottom: 2rem;
      }

      @include respond-to-min(jumbo) {
        font-size: 4.5rem;
      }
    }

}



h3 {
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: 0.25px;
  font-weight: 500;
  font-family: "AktivGrotesk", "Helvetica Neue", helvetica, arial, sans-serif;

  @include respond-to-min(medium) {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 500;
  }

  @include respond-to-min(wide) {
    font-size: 26px;
    font-size: 1.625rem;
    font-weight: 500;
  }

  @include respond-to-min(suwide) {
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: 500;
  }


  @include respond-to-min(jumbo) {
    font-size: 34px;
    font-size: 2.125rem;
    font-weight: 500;
  }

}

h4 {
  font-size: 20px;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  font-family: "AktivGrotesk", "Helvetica Neue", helvetica, arial, sans-serif;

  @include respond-to-min(large) {
    font-size: 22px;
    font-size: 1.375rem;
    margin-bottom: 1.125rem;
  }

  @include respond-to-min(wide) {
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &.subtitle {



  }
}

h5 {
  font-size: 20px;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  font-family: "AktivGrotesk", "Helvetica Neue", helvetica, arial, sans-serif;

  @include respond-to-min(large) {
    font-size: 22px;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  @include respond-to-min(wide) {
    font-size: 1.375rem;
    margin-bottom: 1.25rem;
  }
}

h6 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Roboto", "Helvetica Neue", helvetica, arial, sans-serif;
}

a.subtitle,
p.subtitle {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Roboto", "Helvetica Neue", helvetica, arial, sans-serif;
}



dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  color: #666;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.7;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

blockquote cite {
  display: block;
  font-style: normal;
  font-weight: 600;
  margin-top: 0.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #eee;
  text-decoration: none;
}

big {
  font-size: 125%;
}

blockquote {
  quotes: "" "";
}

q {
  quotes: "“" "”" "‘" "’";
}

blockquote:before,
blockquote:after {
  content: "";
}

:focus {
  outline: none;
}

/* Typography for Arabic Font */

html[lang="ar"] body,
html[lang="ar"] button,
html[lang="ar"] input,
html[lang="ar"] select,
html[lang="ar"] textarea,
html[lang="ary"] body,
html[lang="ary"] button,
html[lang="ary"] input,
html[lang="ary"] select,
html[lang="ary"] textarea,
html[lang="azb"] body,
html[lang="azb"] button,
html[lang="azb"] input,
html[lang="azb"] select,
html[lang="azb"] textarea,
html[lang="fa-IR"] body,
html[lang="fa-IR"] button,
html[lang="fa-IR"] input,
html[lang="fa-IR"] select,
html[lang="fa-IR"] textarea,
html[lang="haz"] body,
html[lang="haz"] button,
html[lang="haz"] input,
html[lang="haz"] select,
html[lang="haz"] textarea,
html[lang="ps"] body,
html[lang="ps"] button,
html[lang="ps"] input,
html[lang="ps"] select,
html[lang="ps"] textarea,
html[lang="ur"] body,
html[lang="ur"] button,
html[lang="ur"] input,
html[lang="ur"] select,
html[lang="ur"] textarea {
  font-family: Tahoma, Arial, sans-serif;
}

html[lang="ar"] h1,
html[lang="ar"] h2,
html[lang="ar"] h3,
html[lang="ar"] h4,
html[lang="ar"] h5,
html[lang="ar"] h6,
html[lang="ary"] h1,
html[lang="ary"] h2,
html[lang="ary"] h3,
html[lang="ary"] h4,
html[lang="ary"] h5,
html[lang="ary"] h6,
html[lang="azb"] h1,
html[lang="azb"] h2,
html[lang="azb"] h3,
html[lang="azb"] h4,
html[lang="azb"] h5,
html[lang="azb"] h6,
html[lang="fa-IR"] h1,
html[lang="fa-IR"] h2,
html[lang="fa-IR"] h3,
html[lang="fa-IR"] h4,
html[lang="fa-IR"] h5,
html[lang="fa-IR"] h6,
html[lang="haz"] h1,
html[lang="haz"] h2,
html[lang="haz"] h3,
html[lang="haz"] h4,
html[lang="haz"] h5,
html[lang="haz"] h6,
html[lang="ps"] h1,
html[lang="ps"] h2,
html[lang="ps"] h3,
html[lang="ps"] h4,
html[lang="ps"] h5,
html[lang="ps"] h6,
html[lang="ur"] h1,
html[lang="ur"] h2,
html[lang="ur"] h3,
html[lang="ur"] h4,
html[lang="ur"] h5,
html[lang="ur"] h6 {
  font-weight: 700;
}

/* Typography for Chinese Font */

html[lang^="zh-"] body,
html[lang^="zh-"] button,
html[lang^="zh-"] input,
html[lang^="zh-"] select,
html[lang^="zh-"] textarea {
  font-family: "PingFang TC", "Helvetica Neue", Helvetica, STHeitiTC-Light, Arial, sans-serif;
}

html[lang="zh-CN"] body,
html[lang="zh-CN"] button,
html[lang="zh-CN"] input,
html[lang="zh-CN"] select,
html[lang="zh-CN"] textarea {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, STHeitiSC-Light, Arial, sans-serif;
}

html[lang^="zh-"] h1,
html[lang^="zh-"] h2,
html[lang^="zh-"] h3,
html[lang^="zh-"] h4,
html[lang^="zh-"] h5,
html[lang^="zh-"] h6 {
  font-weight: 700;
}

/* Typography for Cyrillic Font */

html[lang="bg-BG"] body,
html[lang="bg-BG"] button,
html[lang="bg-BG"] input,
html[lang="bg-BG"] select,
html[lang="bg-BG"] textarea,
html[lang="ru-RU"] body,
html[lang="ru-RU"] button,
html[lang="ru-RU"] input,
html[lang="ru-RU"] select,
html[lang="ru-RU"] textarea,
html[lang="uk"] body,
html[lang="uk"] button,
html[lang="uk"] input,
html[lang="uk"] select,
html[lang="uk"] textarea {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
}

html[lang="bg-BG"] h1,
html[lang="bg-BG"] h2,
html[lang="bg-BG"] h3,
html[lang="bg-BG"] h4,
html[lang="bg-BG"] h5,
html[lang="bg-BG"] h6,
html[lang="ru-RU"] h1,
html[lang="ru-RU"] h2,
html[lang="ru-RU"] h3,
html[lang="ru-RU"] h4,
html[lang="ru-RU"] h5,
html[lang="ru-RU"] h6,
html[lang="uk"] h1,
html[lang="uk"] h2,
html[lang="uk"] h3,
html[lang="uk"] h4,
html[lang="uk"] h5,
html[lang="uk"] h6 {
  font-weight: 700;
  line-height: 1.2;
}

/* Typography for Devanagari Font */

html[lang="bn-BD"] body,
html[lang="bn-BD"] button,
html[lang="bn-BD"] input,
html[lang="bn-BD"] select,
html[lang="bn-BD"] textarea,
html[lang="hi-IN"] body,
html[lang="hi-IN"] button,
html[lang="hi-IN"] input,
html[lang="hi-IN"] select,
html[lang="hi-IN"] textarea,
html[lang="mr-IN"] body,
html[lang="mr-IN"] button,
html[lang="mr-IN"] input,
html[lang="mr-IN"] select,
html[lang="mr-IN"] textarea {
  font-family: Arial, sans-serif;
}

html[lang="bn-BD"] h1,
html[lang="bn-BD"] h2,
html[lang="bn-BD"] h3,
html[lang="bn-BD"] h4,
html[lang="bn-BD"] h5,
html[lang="bn-BD"] h6,
html[lang="hi-IN"] h1,
html[lang="hi-IN"] h2,
html[lang="hi-IN"] h3,
html[lang="hi-IN"] h4,
html[lang="hi-IN"] h5,
html[lang="hi-IN"] h6,
html[lang="mr-IN"] h1,
html[lang="mr-IN"] h2,
html[lang="mr-IN"] h3,
html[lang="mr-IN"] h4,
html[lang="mr-IN"] h5,
html[lang="mr-IN"] h6 {
  font-weight: 700;
}

/* Typography for Greek Font */

html[lang="el"] body,
html[lang="el"] button,
html[lang="el"] input,
html[lang="el"] select,
html[lang="el"] textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html[lang="el"] h1,
html[lang="el"] h2,
html[lang="el"] h3,
html[lang="el"] h4,
html[lang="el"] h5,
html[lang="el"] h6 {
  font-weight: 700;
  line-height: 1.3;
}

/* Typography for Gujarati Font */

html[lang="gu-IN"] body,
html[lang="gu-IN"] button,
html[lang="gu-IN"] input,
html[lang="gu-IN"] select,
html[lang="gu-IN"] textarea {
  font-family: Arial, sans-serif;
}

html[lang="gu-IN"] h1,
html[lang="gu-IN"] h2,
html[lang="gu-IN"] h3,
html[lang="gu-IN"] h4,
html[lang="gu-IN"] h5,
html[lang="gu-IN"] h6 {
  font-weight: 700;
}

/* Typography for Hebrew Font */

html[lang="he-IL"] body,
html[lang="he-IL"] button,
html[lang="he-IL"] input,
html[lang="he-IL"] select,
html[lang="he-IL"] textarea {
  font-family: "Arial Hebrew", Arial, sans-serif;
}

html[lang="he-IL"] h1,
html[lang="he-IL"] h2,
html[lang="he-IL"] h3,
html[lang="he-IL"] h4,
html[lang="he-IL"] h5,
html[lang="he-IL"] h6 {
  font-weight: 700;
}

/* Typography for Japanese Font */

html[lang="ja"] body,
html[lang="ja"] button,
html[lang="ja"] input,
html[lang="ja"] select,
html[lang="ja"] textarea {
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}

html[lang="ja"] h1,
html[lang="ja"] h2,
html[lang="ja"] h3,
html[lang="ja"] h4,
html[lang="ja"] h5,
html[lang="ja"] h6 {
  font-weight: 700;
}

/* Typography for Korean font */

html[lang="ko-KR"] body,
html[lang="ko-KR"] button,
html[lang="ko-KR"] input,
html[lang="ko-KR"] select,
html[lang="ko-KR"] textarea {
  font-family: "Apple SD Gothic Neo", "Malgun Gothic", "Nanum Gothic", Dotum, sans-serif;
}

html[lang="ko-KR"] h1,
html[lang="ko-KR"] h2,
html[lang="ko-KR"] h3,
html[lang="ko-KR"] h4,
html[lang="ko-KR"] h5,
html[lang="ko-KR"] h6 {
  font-weight: 600;
}

/* Typography for Thai Font */

html[lang="th"] h1,
html[lang="th"] h2,
html[lang="th"] h3,
html[lang="th"] h4,
html[lang="th"] h5,
html[lang="th"] h6 {
  line-height: 1.65;
  font-family: "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html[lang="th"] body,
html[lang="th"] button,
html[lang="th"] input,
html[lang="th"] select,
html[lang="th"] textarea {
  line-height: 1.8;
  font-family: "Sukhumvit Set", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Remove letter-spacing for all non-latin alphabets */

html[lang="ar"] *,
html[lang="ary"] *,
html[lang="azb"] *,
html[lang="haz"] *,
html[lang="ps"] *,
html[lang^="zh-"] *,
html[lang="bg-BG"] *,
html[lang="ru-RU"] *,
html[lang="uk"] *,
html[lang="bn-BD"] *,
html[lang="hi-IN"] *,
html[lang="mr-IN"] *,
html[lang="el"] *,
html[lang="gu-IN"] *,
html[lang="he-IL"] *,
html[lang="ja"] *,
html[lang="ko-KR"] *,
html[lang="th"] * {
  letter-spacing: 0 !important;
}



/*--------------------------------------------------------------
Formatting
--------------------------------------------------------------*/

hr {
  background-color: #bbb;
  border: 0;
  height: 1px;
  margin-bottom: 1.5rem;
}
